$normalMargin: 0 11.45%;
$normalPadding: 9% 11.45% 0 11.45%;
$tabletPadding: 5rem 3.5rem 2rem 3.5rem;
$detailsPadding: 3% 11.45%;
$bestgearPadding: 7% 11.45%;
$categoryPadding:4.5% 11.45%;

$orange: #d87d4a;
$orange-light: #fbaf85;
$gray-bg: #f1f1f1;
$checkBg: #f2f2f2;
$gray-light: #CFCFCF;