@use '../../sass/variables' as *;
@use '../../sass/utilities' as *;
@use '../../sass/mixins' as *;

.category__container {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    padding: $categoryPadding;
    gap: 7.813rem;

    @include breakpoint-down (mobile) {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    @include breakpoint-between (mobile, tablet) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    &--image {
        img {
            max-width: 100%;
            border-radius: 8px;
        }
    }

    &--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        @include breakpoint-down (mobile) {
            align-items: center;
            text-align: center;
        }

        @include breakpoint-between (mobile, tablet) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 2rem;
        }

        &-overline {
            color: $orange;
            opacity: 1;
            letter-spacing: 10px;
            text-transform: uppercase;
        }

        h2 {
            text-transform: uppercase;
            margin: 0;
            max-inline-size: 12ch;
            font-size: 2.75rem;
            letter-spacing: 1.43px;

            @include breakpoint-down (mobile) {
                max-inline-size: 15ch;
            }
        }

        p {
            opacity: .5;
            line-height: 25px;
        }

        button {
            @extend %button-shared;
            border: none;
            background-color: $orange;
            color: white;

            &:hover {
                background-color: $orange-light;
            }
        }
    }
}

.normal {
    display: flex;
    flex-direction: row;

    @include breakpoint-down (mobile) {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    @include breakpoint-between (mobile, tablet) {
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        padding: 2rem;
    }
}