<div class="category__header">
    <h2>Headphones</h2>
</div>
<app-category [name]="'mark-II'" [title]="'XX99 Mark II Headphones'"
    [description]="'The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your premium headphone experience by reproducing the balanced depth and precision of studio-quality sound.'"
    [image]="'../../assets/images/Headphones/mark-two-image-category-page-preview.jpg'" [alt]="'mark two headphone'"
    [overline]="'New product'" [reverse]="true">
</app-category>
<app-category [name]="'mark-I'" [title]="'XX99 Mark I Headphones'"
    [description]="'As the gold standard for headphones, the classic XX99 Mark I offers detailed and accurate audio reproduction for audiophiles, mixing engineers, and music aficionados alike in studios and on the go.'"
    [image]="'../../assets/images/Headphones/mark-one-image-category-page-preview.jpg'" [alt]="'mark one headphone'"
    [reverse]="false"></app-category>
<app-category [name]="'xx59'" [title]="'XX59 Headphones'"
    [description]="'Enjoy your audio almost anywhere and customize it to your specific tastes with the XX59 headphones. The stylish yet durable versatile wireless headset is a brilliant companion at home or on the move.'"
    [image]="'../../assets/images/Headphones/xx59-image-category-page-preview.jpg'" [alt]="'xx59 headphone model'"
    [reverse]="true"></app-category>