<div class="category__header">
    <h2>Speakers</h2>
</div>
<app-category [name]="'zx9'"
[title]="'ZX9 speaker'"
    [description]="'Upgrade your sound system with the all new ZX9 active speaker. It’s a bookshelf speaker system that offers truly wireless connectivity -- creating new possibilities for more pleasing and practical audio setups.'"
    [image]="'../../assets/images/Speakers/zx9-image-category-page-preview.jpg'" [alt]="'zx9 speakers model'"
    [overline]="'New product'" [reverse]="false"></app-category>
<app-category [name]="'zx7'"
 [title]="'ZX7 speaker'"
    [description]="'Stream high quality sound wirelessly with minimal loss. The ZX7 bookshelf speaker uses high-end audiophile components that represents the top of the line powered speakers for home or studio use.'"
    [image]="'../../assets/images/Speakers/zx7-image-category-page-preview.jpg'" [alt]="'zx7 speakers model'"
    [reverse]="true"></app-category>