@use '../../sass/variables' as *;

.toast{
    position: fixed;
    top: 110px;
    right: 20px;
    padding: 12px 18px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeInOut 3s forwards;

    &.success{
        background-color: #4caf50;
    }
    &.error{
        background-color: #f44336;
    }
    &.info{
        background-color: #2196f3;
    }
    &.custom{
        background-color: $orange;
    }
}

@keyframes fadeInOut{
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-10px); }
}