<div class="category__header">
    <h2>Earphones</h2>
</div>
<app-category [name]="'yx1'" [title]="'YX1 wireless earphones'"
    [description]="'Tailor your listening experience with bespoke dynamic drivers from the new YX1 Wireless Earphones. Enjoy incredible high-fidelity sound even in noisy environments with its active noise cancellation feature.'"
    [image]="'../../assets/images/Earphones/yx1-image-category-page-preview.jpg'" [alt]="'yx1 earphones model'"
    [overline]="'New product'" [reverse]="true"></app-category>